[user]
  email = 3153823+muk-ai@users.noreply.github.com
  name = Kenta Mukai
[pull]
  ff = only
[core]
  editor = vim
[commit]
  template = ~/.commit_template
[merge]
  ff = false
  conflictstyle = diff3
[ghq]
  root = ~/repos
[pager]
  branch = cat
[alias]
#  co = checkout
  d = difftool
  dc = difftool --cached
  s = "!f() { GIT_EXTERNAL_DIFF=difft git show --ext-diff $@; }; f"
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[url "git@github.com:"]
  pushinsteadof = https://github.com/
