[user]
  email = r@muk.ai
  name = Kenta Mukai
[pull]
  ff = only
[core]
  editor = vim
[commit]
  template = ~/.commit_template
[merge]
  ff = false
  conflictstyle = diff3
[ghq]
  root = ~/repos
[pager]
  branch = cat
[alias]
#  co = checkout
[url "git@github.com:"]
  pushinsteadof = https://github.com/
